.color-dark-blue {
    background-color: #034670;
}

.color-light-blue {
    background-color: #0478bc;
}

.color-middle-blue {
    background-color: #0697ce;
}

.color-gray {
    background-color: #ebedef;
}

.banner-top{
  justify-content: center;
}
.banner-top img{
  max-width: 100vw;
  max-height: 25vh;
}
.box-info {
    background-color:inherit;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-info p {
    margin-bottom: 0;
    color: #28466a;
}

.box-info hr {
    border-top: 70px solid #28466a;
}

.form-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.form-cta p, .form-cta h1 {
    color: #28466a;
}

.form-cta p {
    font-size: 1rem;
    max-width: 100vw;
}

.form-cta h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    max-width: 100vw;

}

.content {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.form-box {
    display: flex;
    flex-direction: column;
}

.form-box textarea {
    height: 100%;
}

.form-fields{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 575px) {
    .form-fields, .button-box{
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    .form-box input{
      min-width: 75vw;
    }
    .form-box textarea{
      min-width: 75vw;
    }

}

.button-box{
  display: flex;
  flex-direction: row-reverse;
}

.form-box textarea, .button-box button{
    width: 330px;
}

.font-small{
  font-size: smaller;
}

.social-button{
  color: #fff;
  font-size: 25px;
}
.size-325{
  width: 325px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #d4d9dd;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;  
  text-align: center;
}
